<div class="container border-0">
  <div class="row">
    <div class="col-md-6 vCenter logo">
      <h1 class="animate__animated animate__fadeInLeft animate__delay-1s" id="qc">
        QC
      </h1>
      <h1 class="animate__animated animate__fadeInUp animate__delay-2s" id="taste">
        taste.
      </h1>
    </div>
    <div class="col-md-6 bg-light login animate__animated animate__fadeInRight animate__delay-3s" id="login-form">
      <h2 class="logform">Login</h2>
      <form class="login">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email" value="{{this.email}}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password" value="{{this.password}}">
        </div>
        <button type="submit" class="btn btn-outline-dark">Login</button>
      </form>
      <br/>
      <p>Or sign up <a href="/">here</a></p>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>