form.signup,
form.login {
    margin-top: 50px;
}

body {
    background-image: url("restaurant_photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.vCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
}

.member-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    border-radius: 15px;
}

.member-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    padding-left: -130px;
    padding-right: -130px;
    border-radius: 15px;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
}

#qc {
    color: white;
    font-size: 140px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 220px;
}

#taste {
    color: white;
    font-size: 90px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 170px;
}

#login-form {
    margin-top: 170px;
}

#signup-form {
    margin-top: 130px;
}

#post-form {
    margin-top: 130px;
    padding: auto;
}

#main {
    margin-top: 100px;
    padding: auto;
}

#post-button {
    margin-bottom: 40px;
}

#main-button {
    margin-top: 20px;
    margin-bottom: 25px;
}

.logform {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 45px;
    margin-top: 25px;
}

.postform {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.mainpage {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.img-beer {
    width: 600px;
}

label {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

button {
    font-family: 'Syne', sans-serif;
}

button:hover {
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(207, 36, 36);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    background-image: url("restaurant_photo.jpg");
}

.transition-fade {
    opacity: 1;
    transition: 500ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}

html.is-leaving .transition-fade {
    opacity: 0;
}